a {
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}
li {
    list-style-type:none;
}

h1 {
    color:#000077; 
    /*color:navy; 
    margin-top:1em;*/
    margin-left:100px;
    font-weight:normal;
    /*font-family:Arial, sans-serif;*/  
}

.import-micro {
    font-family:Arial, sans-serif;  
    font-size:small;
    color:#222;  
    margin-left:5em;
    margin-left:100px;
    margin-right:5em;
    margin-top:1em;
    width:800px;
} 
.import-pending .micro-url::before {
    /*background-image: url('https://minvei.no/data/c006bb24-b0ed-4ffc-afe5-57f84ecfc5c4');*/
    background-image: url('http://195.209.147.157:81/Images/ajax-loader.gif');
    background-size: 10px 10px;
    display: inline-block;
    width: 12px; 
    height: 12px;
    margin-right:4px;
    content:"";
} 
.micro-url {
    color:#006621;
    margin-top:0.1em;
    margin-bottom:0.1em;
    white-space:nowrap;
    margin-left:0;
}

[itemprop="name"], [itemprop="telephone"], [itemprop="faxNumber"], [itemprop="email"], [itemprop="address"], [itemprop="description"] {
    display: block;
}

[itemprop="logo"], [itemprop="url"], [itemprop="sameAs"] {
    display: none;
}

[itemprop="name"] {
    color:navy; 
    font-size:medium;
    margin-top: 2px;
    margin-bottom:3px;
}

[itemprop="address"] {
    display:flex;
    flex-wrap:wrap;
}

[itemprop="postalCode"] {
    order:1; 
}
[itemprop="addressLocality"] {
    order:2; 
}
[itemprop="streetAddress"] {
    order:3; 
}
[itemprop="telephone"] {
    order:4;
    display: block;
}

[itemprop="email"] {
    order:5;
    display: block;
}

[itemprop="telephone"]::before {
    content: "Телефон: ";
    white-space:pre-wrap;
    font-weight: bold; 
}

[itemprop="address"] [itemprop="telephone"]::before {
    content: ", тел: ";
    white-space:pre-wrap;
    font-weight: bold; 
}

[itemprop="faxNumber"]::before {
    content: "Факс: ";
    white-space:pre-wrap;
    font-weight: bold; 
}

[itemprop="email"]::before {
    content: "Email: ";
    white-space:pre-wrap;
    font-weight: bold; 
}

[itemprop="address"] [itemprop="email"]::before {
    content: ", email: ";
    white-space:pre-wrap;
    font-weight: bold; 
}


[itemprop="addressLocality"]::after {
    content: ", ";
    white-space:pre-wrap;
}

[itemprop="postalCode"]::after {
    content: ", ";
    white-space:pre-wrap;
}

[itemprop="address"]::before {
    content: "Адрес: ";
    white-space:pre-wrap;
    font-weight: bold; 
}
