a {
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}
li {
    list-style-type:none;
}

h1 {
    color: #000077;
    margin-left: 5%;
    font-weight: normal;
    font-family: Verdana, sans-serif;
}

.import-jsonld {
    font-family: Arial, sans-serif;
    font-size: small;
    color: #222;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1em;
    width: 800px;
} 
.import-pending .jsonld-url::before {
    background-image: url('https://struct-scraper.keldysh.ru/Images/ajax-loader.gif');
    background-size: 10px 10px;
    display: inline-block;
    width: 12px; 
    height: 12px;
    margin-right:4px;
    content:"";
} 
.jsonld-url {
    color:#006621;
    margin-top:0.1em;
    margin-bottom:0.1em;
    white-space:nowrap;
    margin-left:0;
}


[itemprop="@type"], [itemprop="url"], [itemprop="logo"], [itemprop="sameAs"], [itemprop="addressRegion"], [itemprop="addressCountry"], [itemprop="brand"] {
    display: none;
}

[itemprop="name"] {
    display: block;
    font-family: Verdana, sans-serif;
}

[itemtype$="Article"] > [itemprop="name"] {
    color: navy;
    font-size: medium;
    margin-top: 2px;
    margin-bottom: 2px;
    white-space: normal;
}

[itemprop="author"] > [itemprop="name"] {
    margin-bottom: 5px;
    font-style: italic;
}

[itemprop="datePublished"] {
    font-style: italic;
}

[itemprop="datePublished"]::before {
    content: "Опубликовано: ";
    white-space: pre-wrap;
    font-weight: bold;
} 

