body {
}
a {
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}
li {
    list-style-type:none;
}

.content {
    margin:auto;
    max-width: 1200px;
}

td, [itemprop="price"] {
    background-color:#F5F5F5; 
    padding:10px;
}
[itemprop="price"] {
    padding:15px;
    font-weight:bold;
}

th {
    background-color:black;
    color: white;
    padding:10px;
}

tr:nth-child(2n+1) td {
    background-color: white;
} 

tr:nth-child(2n+1) [itemprop="price"] {
    background-color: white;
} 

.import-struct {
    font-family:Arial, sans-serif;  
    font-size:small;
} 


.import-pending .struct-url::before {
    background-image: url('https://struct-scraper.keldysh.ru/Images/ajax-loader.gif');
    background-size: 10px 10px;
    display: inline-block;
    width: 12px; 
    height: 12px;
    margin-right:4px;
    content:"";
}


/*.struct-url{
    white-space: nowrap;
}*/

[itemprop] {
    display:none;
}

[itemprop="name"], [itemprop="offers"] {
    display:table-cell;
}

[itemprop="offers"] + [itemprop="offers"] {
    display:none;
}

[itemprop="offers"] > [itemprop="price"] {
        display: block;
    }

[itemprop="name"] {
    color:navy; 
    max-width:600px;
    word-wrap:break-word;
}

