body {
}
a {
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}
li {
    list-style-type:none;
}

.rsrc {
    font-family: Arial, sans-serif;
    color: #222;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1em;
    width: 800px;
} 
.rsrc-pending .rsrc-ref::before {
    background-image: url('https://struct-scraper.keldysh.ru/Images/ajax-loader.gif');
    background-size: 10px 10px;
    display: inline-block;
    width: 12px; 
    height: 12px;
    margin-right:4px;
    content:"";
} 
.rsrc-ref {
    color:#006621;
    margin-top:0.1em;
    margin-bottom:0.1em;
    white-space:nowrap;
}

.rsrc-title {
    margin-bottom:0.1em;
    font-weight:normal;
}
a .rsrc-title {
    color:#1a0dab;
}

a:visited .rsrc-title {
    color:#609;

}

.rsrc-modified {
    color:#808080;
    font-size:small;
}
.rsrc-done .rsrc-modified::after {
    content: " - ";
}

.rsrc-description {
    font-size:small;
}
